.clientpage {
  display: flex;
  height: 650px;
  padding: 0px 6%;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 83%,
    rgba(240, 240, 240, 1) 93%
  );
}

.client_headline {
  color: #b056be;
  font-size: 50px;
  margin-left: 10%;
}

.client_container {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(7, minmax(150px, 1fr));
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
