.profileCard {
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  position: relative;
  width: 145px;
  height: 200px;
}

.profileCard img {
  width: 145px;
  height: 200px;
}

@media screen and (max-width: 425px) {
  .profileCard {
    width: 120px;
    height: 180px;
  }

  .profileCard img {
    width: 120px;
    height: 160px;
  }
}
